@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.profileDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 90px;
  padding: 10px 30px;
  border-radius: 30px;
}
.avatar {
  border-radius: 50%;
}
.profileAccount {
  margin-top: 30px;
  margin-left: 30px;
}

.containerr {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/photo_2023-09-11_02-12-43.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header {
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardbg{
    background-color: #27043b;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(219, 56, 28, 0.125);
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p {
  width: 130px;
  margin-left: 10px;
  font-size: 20px;
}
.logo .fas {
  font-size: 50px;
}
ul.navbar {
  display: flex;
  list-style: none;
}
ul.navbar li {
  width: 120px;
}
ul.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
ul.navbar li a.active {
  color: #fec53a;
}
ul.navbar li a:hover:not(.active) {
  color: #fec53a;
  width: 120%;
}
#btn {
  width: 250px;
  height: 12vh;
  background: #fec53a;
  color: #000;
  outline: none;
  border: none;
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
  margin-right: -20px;
}
#btn .fas {
  margin-right: 10px;
}

/* Content desc starts here */
.content-wrapper {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
/* .content-desc{

} */

.content-desc h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.content-desc p {
  width: 550px;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.content-desc span {
  color: #fec53a;
}
#btn2 {
  width: 350px;
  height: 10vh;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #fec53a;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
  border-radius: 20px;
  text-align: left;
}
.rakuto {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.rakuto::before {
  content: "";
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 200px;
}
.rakuto::after {
  content: "";
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: -150px;
}
.logoo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.logoo-section .fas {
  font-size: 6rem;
  color: #fec53a;
}
.logoo-section h1 {
  width: 250px;
  font-size: 2rem;
  color: #fec53a;
  margin-left: 10px;
}
.logoo-section h2 {
  width: 250px;
  font-size: 2rem;
  color: #fec53a;
}
/* Section one starts here */

.section-1 {
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.712)),
    url(../images/chessa.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section-1-wrapper {
  width: 70%;
  margin: auto;
}
.section-1 h1 {
  width: 500px;
  color: #fec53a;
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
}
.section-1-img {
  display: flex;
}
.section-1-img .img {
  width: 100px;
  height: 130px;
  background: url(../images/xo.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border-radius: 10px;
}
.section-1-img .img-2 {
  background: url(../images/games/chess.png);
  background-size: cover;
  background-position: center;
}
.section-1-img .img-3 {
  background: url(../images/games/cod.png);
  background-size: cover;
  background-position: center;
}
.section-1-img .img-4 {
  background: url(../images/games/fifa.png);
  background-size: cover;
  background-position: center;
}
.section-1-img .img-5 {
  background: url(../images/games/takken.png);
  background-size: cover;
  background-position: center;
}
.section-1-img .img-6 {
  background: url(../images/games/xo.png);
  background-size: cover;
  background-position: center;
}
.img:hover {
  transform: translateY(-10px);
}

/* Section 3 starts here */
.game-categories {
  width: 70%;
  margin: 50px auto;
  position: relative;
}
.game-categories h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #fec53a;
}
.game-wrapper {
  display: flex;
}
.gw {
  width: 120px;
  height: 120px;
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px 15px 0 0;
  border-radius: 10px;
}
.gw:hover {
  transform: translateY(-10px);
}
.left {
  position: relative;
  right: -140px;
}

.gw-1 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-2 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-3 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-4 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-5 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-6 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-7 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.gw-8 {
  background: url(../images/battlefield.jpg);
  background-size: cover;
  background-position: center;
}
.gw-9 {
  background: url(../images/assassin.jpg);
  background-size: cover;
  background-position: center;
}
.section-2 {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.712)),
    url(../images/flame.jpg);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-2 h1 {
  font-size: 2rem;
  color: #fff;
  margin: 20px 0;
}
.players {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.p-image {
  width: 200px;
  height: 200px;
  background: url(../images/vaklish.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
}
.p-image-1::after {
  content: "VS";
  position: absolute;
  right: -35px;
  bottom: 0;
  font-size: 2rem;
  color: #fec53a;
}
.players span {
  font-size: 1.5rem;
  color: #fec53a;
  font-weight: bold;
  margin-bottom: 10px;
}
.stars {
  color: #fec53a;
}
.p-image-2 {
  background: url(../images/aiper.jpg);
  background-size: cover;
  background-position: center;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-2 h1{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}
.players{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.p-image-1{
    background: url("{{trophy.winner.avatar.url}}");
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
}
.p-image-1::after{
    position: absolute;
    right: -35px;
    bottom: 0;
    font-size: 2rem;
    color: #FEC53A;
}
.players span{
    font-size: 1.5rem;
    color: #FEC53A;
    font-weight: bold;
    margin-bottom: 10px;
}
.stars{
    color: #FEC53A;
}
.p-image-2{
    background: url(../images/aiper.jpg);
    background-size: cover;
    background-position: center;

}

.p-image-2 {
  background: url(../images/aiper.jpg);
  background-size: cover;
  background-position: center;
}
.p-image-3::after {
  content: "VS";
  position: absolute;
  right: -35px;
  bottom: 0;
  font-size: 2rem;
  color: #fec53a;
}
.p-image-4 {
  background: url(../images/aiper.jpg);
  background-size: cover;
  background-position: center;
}
/* section 3 starts here */

.section-3 {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/controller.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section-3 h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.section-3-wrapper {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
}

.feedback {
  width: 250px;
  height: 300px;
  background: url(../images/feedback.jpg);
  background-position: center;
  background-size: cover;
}
.feedback-desc {
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.767);
  padding: 10px;
  color: #fff;
  margin-right: 10px;
}
.feedback-desc .far {
  color: #fec53a;
  font-size: 30px;
}
.f-img-2 {
  background: url(../images/image9.jpg);
  background-position: center;
  background-size: cover;
}
/* FOoter section */
footer {
  width: 100%;
  height: 55vh;
  background: #282828;
  display: flex;
  align-items: center;
}
.footer-body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer-logo {
  height: 12vh;
  width: 380px;
  background-color: #fec53a;
  color: #000;
  display: flex;
  justify-content: center;
  line-height: 1.7rem;
}
ul h3 {
  color: #fff;
  font-weight: 450;
}
ul li {
  list-style: none;
  line-height: 2.5rem;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
ul li a .fab {
  font-size: 1.2rem;
  color: #fec53a;
  margin-right: 15px;
}
ul li a:hover {
  color: #fec53a;
}
.footer-bottom {
  width: 100%;
  height: 7vh;
  background: #1b1919;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}
.footer-bottom span {
  color: #fec53a;
  font-weight: bold;
}



.scrollbox::-webkit-scrollbar{
    width: 5px;
}


.hei{
    background: linear-gradient(-45deg,#571845 , #c70039);
    margin-top: 20px;
    width: 25%;
}
.sidebarss{
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    max-height: 500px;

    
}

.headerss h2 {
  font-size: 32px;
  color: #fff;
  padding-bottom: 5px;
}
.scrollbox {
  overflow: auto;
  padding-right: 10px;
  visibility: visible;
}
/* .scrollbox-inner, .scrollbox:hover{
    visibility: visible;
} */
.scrollbox-inner p {
  font-size: 16px;
  color: #fff;
}
.footerss h2 {
  font-size: 24px;
  color: #fff;
  padding: 15px 0 40px;
}

/*
*/
.profileBody{
    color: #6F8BA4;
    margin-top:20px;
}
.sectionProfile {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.imgProfile {
    width: 70cqh;
    height: 85cqh;
    border-radius: 20px;
    box-shadow:0 0 30px rgb(197 40 40 / 26%);
}
.imgProfile {
    vertical-align: middle;
    border-radius: 20px;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}
.counter{
  align-items: center;


  
  
}
.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
.markProfile {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #FEC53A;
}
.dark-color {
    color: #20247b;
}



.players:hover{
    scale: 0.9;
}
/* ================================= */

  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 205px);
    align-items: center;
  }
  
  
  .round {
    position: relative;
    max-width: 185px;
  }
  
  .matchh {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 180px;
    margin: 10px auto;
    border: 1px solid black;
  }
  
  
  .link {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 100%;
    right: -40px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
  }
  
  .link:after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 50px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid red;
  }
  


  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #550381;
    --color-base2: hsl(300, 14%, 1%);
    --color-brand: #fec53a;
    --color-brand2: #fec53a;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}


h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}
    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }


/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
    margin-left: 1px;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}




.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}
