{% extends 'main/base.html' %}

{% block title %}Tournament Details{% endblock %}
{% block content %}

{% if matches %}
    <ol>

        {% for match in matches %}
        <p>{{match.in_round}}</p>
            <li>
                Match: {{ match.player1.user.username }} vs. {{ match.player2.user.username }}
                {% if not match.winner %}
                    <form method="post" action="{% url 'tournament:select_winner' match.id %}">
                        {% csrf_token %}
                        <label for="winner">Select Winner:</label>
                        <select name="winner">
                            <option value="{{ match.player1.user.id }}">{{ match.player1.user.username }}</option>
                            <option value="{{ match.player2.user.id }}">{{ match.player2.user.username }}</option>
                        </select>
                        <button type="submit">Submit Winner</button>
                    </form>
                {% else %}
                    Winner: {{ match.winner.user.username }}
                {% endif %}
            </li>
            <hr>
            {% endfor %}
        </ol>
        <hr>

        {% else %} 
    <p>No matches available.</p>
    {% if request.user.profile.states == '2' %}
    <a href="{% url 'tournament:create_tournament' %}"> create tournament</a>
    {%endif%}
{% endif %}
<div class="row">
    {% for comment in comments %}
    <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
        <img src="{{comment.profile.avatar.url}}" width="40px" height="35px">
        <h4>{{comment.profile.user.first_name}} {{comment.profile.user.last_name}}</h4>
        <p>{{comment.content}}</p>

    </div>
    {% endfor%}
</div>

<h1>Add Comment</h1>
<form action="{% url 'tournament:show_tournament_details' tournament.id %}" method="post" >
    {% csrf_token %}
    <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>
    <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />
</form>
{% endblock %}