{% extends 'main/base.html' %}

{% block title %}Tournament Details{% endblock %}
{% block content %}


<div class="row">
    <div class="col-9">
        {% if matches %}
    <ol>
        {% for match in matches %}
        <p>{{match.in_round}}</p>
            <li>
                Match: <div class="card" style="width: 18rem;">{{ match.player1.user.username }}</div> vs. <div class="card" style="width: 18rem;">{{ match.player2.user.username }}</div>
                {% if not match.winner %}
                    {% if match.tournament.owner.user == request.user%}
                    <form method="post" action="{% url 'tournament:select_winner' match.id %}">
                        {% csrf_token %}
                        <label for="winner">Select Winner:</label>
                        <select name="winner">
                            <option value="{{ match.player1.user.id }}">{{ match.player1.user.username }}</option>
                            <option value="{{ match.player2.user.id }}">{{ match.player2.user.username }}</option>
                        </select>
                        <button type="submit">Submit Winner</button>
                    </form>
                {%endif%}
                {% else %}
                    Winner: {{ match.winner.user.username }}
                {% endif %}
            </li>
            <hr>
            {% endfor %}
            {% if tournament.is_completed %}
                <h2 class="row justify-content-around">completed</h2>
            {% endif %}
        </ol>
        <hr>

        {% else %} 


{% endif %}

    </div>
    <div class="hei col-3">
        <div class="headerss">
            <h2>Codehal</h2>
        </header>
        <div class="foosterss">
            <h1>Add Comment</h1>
            <form action="{% url 'tournament:show_tournament_details' tournament.id %}" method="post" >
                {% csrf_token %}
                <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>
                <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />
            </form>
        </div>
        <nav class="sidebarss">
            <div class="scrollbox">
                <div class="scrollbox-inner">
                    <p>
                        <div class="row d-flex" style="flex-direction: column-reverse;">
                            {% for comment in comments %}
                            <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
                                <div class="d-flex flex-row gap-3">
                                    <img src="{{comment.profile.avatar.url}}" width="40px" height="35px" style="border-radius: 50%;">
                                    <h4>@{{comment.profile.user.username}}</h4>
                                </div>
                                <p class="mt-2">{{comment.content}}</p>
                            </div>
                            {% endfor%}
                        </div>
                    </p>
        
                </div>
            </div>
            
        </nav>

    </div>
    
</div>




{% endblock %}