{% extends 'main/base.html' %}

{% block title %}Tournament{% endblock %}

{% block content %}



<section id="services" class="full-height px-lg-5">
    <div class="containerrr">
        <div class="row pb-4" data-aos="fade-up">
      
        </div>
        <div class="row gy-4">



            {% for tournament in tournaments %}
            <div class="col-4 h-100" data-aos="fade-up" data-aos-delay="300" >
                <div class="service p-4 bg-base rounded-4 shadow-effect " style="height: max-content;">     
                            {% if tournament.game == 1 %}
                            <img src="/static/images/games/chess.png"  class="card-img-top" style="height: 432px; width: 100%;">
                            {% elif tournament.game == 2 %}
                            <img src="/static/images/games/takken.png"  class="card-img-top" style="height: 432px; width: 100%;">
                            {% elif tournament.game == 3 %}
                            <img src="/static/images/games/xo.png"  class="card-img-top" style="height: 432px; width: 100%;">
                            {% elif tournament.game == 4 %}
                            <img src="/static/images/games/cod.png"  class="card-img-top" style="height: 432px; width: 100%;">
                            {% elif tournament.game == 5 %}
                            <img src="/static/images/games/fifa.png"  class="card-img-top" style="height: 432px; width: 100%;">
                            {%endif%}
                            <h5 style="word-wrap: break-word;" class="mt-4 mb-2">{{ tournament.name }}</h5>
                            <p style="word-wrap: break-word;">{{ tournament.description }}</p>


                       
                            {% if tournament.winner %}
                        <h6>we have winner : {{ tournament.winner.user.username }}</h6>
                        {% endif %}

                        {% if tournament.game == 1 %}
                        <a href="{% url 'main:chess_view'  %}" class="link-custom">Read More</a>
                        {% elif tournament.game == 2 %}
                        <a href="{% url 'main:takken_view'  %}" class="link-custom">Read More</a>
                        {% elif tournament.game == 3 %}
                        <a href="{% url 'main:XO_view'  %}" class="link-custom">Read More</a>
                        {% elif tournament.game == 4 %}
                        <a href="{% url 'main:cod_view'  %}" class="link-custom">Read More</a>
                        {% elif tournament.game == 5 %}
                        <a href="{% url 'main:fifa_view'  %}" class="link-custom">Read More</a>
                        {%endif%}
                            
                            <div style="padding: 10px;" >
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'tournament:tournament_controll' tournament.id %}" class="btn btn-warning">Play Now!</a>
                                {% else %}
                                    <a href="{% url 'accounts:login_user_view' %}" class="btn btn-primary mt-2">Login as player to see the tournament details</a>
                                {% endif %}
                                
                </div>
    
            </div>
        </div>
        {% endfor %}
        {% if request.user.profile.states == '2' %}
        <a href="{% url 'tournament:create_tournament' %}" class="btn btn-primary">Create Tournament</a>
        {% endif %}
    </div>
    </div>

</section>
{% endblock %}
