{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
<div class="containerr">

<div class="content-wrapper">
    <div class="content-desc">
        <h1>PlayUdi</h1>
        <p>Compete with <span>The Greatest</span> in this immense challenge and be the 
            winner of all TIme.</p>
        <p>Our Top Players are waiting for your challenge, click the 
            button below to get started.</p>
            <button id="btn2">Challenge best players Now</button>

        </div>
    
    <div class="rakuto"></div>
</div>
</div>
<div class="logoo-section">
<i class="fas fa-gamepad"></i>
<h1>The Game Zone</h1>
</div>

<section class="section-1">
<div class="section-1-wrapper">  
    <br>
    <h1>Board GAMES</h1>
    <br>
    <div class="section-1-img">
        <a href="#"><div class="img img-1"></div></a>
        <a href="#"><div class="img img-2"></div></a>
        <a href="#"><div class="img img-3"></div></a>
        <a href="#"><div class="img img-4"></div></a>
        <a href="#"><div class="img img-5"></div></a>
        <a href="#"><div class="img img-6"></div></a>
        <a href="#"><div class="img img-2"></div></a>
        <a href="#"><div class="img img-3"></div></a>
    </div>
</div>

<div class="game-categories" >
    <h1>GAME CATEGORIES Or Companies</h1>
    <div class="game-wrapper">
        <a href="#"><div class="gw gw-1"></div></a>
        <a href="#"><div class="gw gw-2"></div></a>
        <a href="#"><div class="gw gw-3"></div></a>
        <a href="#"><div class="gw gw-4"></div></a>
        <a href="#"><div class="gw gw-5"></div></a>
    </div>

    <div class="game-wrapper left" >
        <a href="#"><div class="gw gw-6"></div></a>
        <a href="#"><div class="gw gw-7"></div></a>
        <a href="#"><div class="gw gw-8"></div></a>
        <a href="#"><div class="gw gw-9"></div></a>
        <a href="#"><div class="gw gw-10"></div></a>
    </div>
</div>
</section>

<!-- New section is down here below -->

<section class="section-2" style="padding-top: 25px;">
<h1>Top Players</h1>
{%for pro in profile%}
<div class="players">
    <a href="{% url 'accounts:profile_page' pro.user.id %}">
    <img src="{{pro.avatar.url}}" style="width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;"></a>
    <span>{{pro.user.username}}<br>
    <p>{{pro.points}}</p></span>
    <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
</div>
{%endfor%}

</section>
<div class="logoo-section">
    <i class="fas fa-gamepad"></i>
    <h2>What People say About us</h2>
    </div>
<div class="section-3">
<div class="section-3-wrapper">
    <div class="feedback"></div>
    <div class="feedback-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
        tempora laborum, voluptas magnam animi quo repudiandae asperiores 
        totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
        <br>
        <i class="far fa-grin-squint-tears"></i><br>
        <h4>OSCAR</h4>
    </div>
    <!-- =========================== -->
    <div class="feedback f-img-2"></div>
    <div class="feedback-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
        tempora laborum, voluptas magnam animi quo repudiandae asperiores 
        totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
        <br>
        <i class="far fa-grin-beam-sweat"></i><br>
        <h4>MARIO</h4>
    </div>
    </div>
</div>
</div>

{% endblock content %}