{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

<div class="content-wrapper">
    <div class="content-desc">
        <h1>PlayUdi</h1>
        <p>Compete with <span>The Greatest</span> in this immense challenge and be the 
            winner of all TIme.</p>
        <p>Our Top Players are waiting for your challenge, click the 
            button below to get started.</p>
            <a href="{% url 'tournament:tournament_view'%}" style="text-decoration: none;"><button  id="btn2">Challenge best players Now</button></a>
        </div>
        <img style="opacity: 100%;" src="/static/images/bem461cg.png" alt="">
    
    <div class="rakuto"></div>
</div>
</div>
<div style ="border-top: 10px solid black" class="logoo-section">
<i class="fas fa-gamepad"></i>
<h1>The Game Zone</h1>
</div>

<section class="section-1" style="height: 40vh">
<div class="section-1-wrapper">  
    <br>
    <h1>Our GAMES</h1>
    <br>
    <div class="section-1-img justify-content-around">
        <a href="{% url 'main:chess_view' %}"><div style="background: url(static/images/games/chess.png);background-size: cover;background-position: center;" class="img img-2"></div></a>
        <a href="{% url 'main:cod_view' %}"><div style="background: url(static/images/games/cod.png);background-size: cover;background-position: center;" class="img img-4"></div></a>
        <a href="{% url 'main:fifa_view' %}"><div style="background: url(static/images/games/fifa.png);background-size: cover;background-position: center;" class="img img-4"></div></a>
        <a href="{% url 'main:XO_view' %}"><div style="background: url(static/images/games/xo.png);background-size: cover;background-position: center;" class="img img-4"></div></a>
        <a href="{% url 'main:takken_view' %}"><div style="background: url(static/images/games/takken.png);background-size: cover;background-position: center;" class="img img-6"></div></a>
        
    </div>
</div>



</section>

<!-- New section is down here below -->
<div class="logoo-section">
    <i class="fas fa-gamepad"></i>
    <h1>TOP PLAYERS</h1>
    </div>

<section class="section-2" style="padding-top: 25px;">

{%for pro in profile%}
<div class="players">
    <a href="{% url 'accounts:profile_page' pro.user.id %}">
    <img src="{{pro.avatar.url}}" style="width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;"></a>
    <span>{{pro.user.username}}<br>
    <p>{{pro.points}}</p></span>
</div>
{%endfor%}

</section>
<div class="logoo-section">
    <i class="fas fa-gamepad"></i>
    <h2>   Tournaments</h2>
    </div>
<div class="section-3">
<div class="section-3-wrapper">
    {% for tournament in tournament %}
    {% if tournament.game == 1 %}<img src="/static/images/games/chess.png" style="width: 250px; height: 300px; background-position: center; background-size: cover;">{% elif tournament.game == 2 %}<img src="/static/images/games/takken.png" style="width: 250px; height: 300px; background-position: center; background-size: cover;">{% elif tournament.game == 3 %}<img src="/static/images/games/xo.png" style="width: 250px; height: 300px; background-position: center; background-size: cover;">{% elif tournament.game == 4 %}<img src="/static/images/games/cod.png" style="width: 250px; height: 300px; background-position: center; background-size: cover;">{% elif tournament.game == 5 %}<img src="/static/images/games/fifa.png" style="width: 250px; height: 300px; background-position: center; background-size: cover;">{%endif%}
    <a href="{% url 'tournament:show_tournament_details' tournament.id %}" style="text-decoration: none;">
    <div class="feedback-desc">
        <p>{{tournament.description}}</p>
        <br>
        <i class="far fa-grin-squint-tears"></i><br>
        <h4>{{tournament.get_game_display}}</h4>
    </div>
    </a>
    {%endfor%}
    <!-- =========================== -->
</div>
</div>

{% endblock content %}