{% extends 'main/base.html' %}

{% block title %} New User Registeration {% endblock%}

{% block content %}

<section id="contact" class="full-height px-lg-5">

    <div class="row justify-content-center text-center">
        <div class="col-lg-8 pb-4">
            <h2 style="color: #FEC53A;" class="text-brand">Register</h2>

            <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="300">
            <form action="{% url 'accounts:register_user_view' %}" enctype="multipart/form-data" method="post" >
                {% csrf_token %}

                <input type="text" name="first_name" class="form-control mt-2 " placeholder="First Name" />
                <input type="text" name="last_name" class="form-control mt-2" placeholder="Last Name" />
                <input type="text" name="username" class="form-control mt-2" placeholder="User Name" />
                <input type="email" name="email" class="form-control mt-2" placeholder="Email Address" />
                <input type="password" name="password" class="form-control mt-2" placeholder="Password" />

                <div class="form-floating mt-2">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Birth Date" name="birth_date">
                    <label for="floatingInput">Birth Date</label>
                </div>

                <div class="mt-2">
                    <label>Choose</label>
                    <select class="form-select" name="states" aria-label="Default select example">
                        <option selected value="1">user</option>
                        <option value="2">company</option>
                      </select>

                </div>


                <div class="mt-2">
                    <label for="floatingAvatar">Avatar</label>
                    <input type="file" accept="image/png, image/jpg" class="form-control" id="floatingAvatar" placeholder="avatar" name="avatar"> 
                </div>
                    
                <input type="submit" value="Register" class="btn btn-primary mt-4" />

            </form>
        </div>

        </div>
    </div>

</section>
    
{% endblock %}