{% extends 'main/base.html' %}

{% block title %} Update Profile User  {% endblock%}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h2>Update {{profile.user.username}} profile</h2>

    <form class="d-flex flex-column gap-3 w-50" action="{% url 'accounts:update_profile_page' request.user.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating">
            <input type="date" class="form-control" id="floatingInput" placeholder="Birth Date" name="birth_date" value="{{profile.birth_date.isoformat}}">
            <label for="floatingInput">Birth Date</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Bio" name="bio" value="{{profile.bio}}">
            <label for="floatingInput">Bio</label>
        </div>

        <div class="">
          {% if profile.avatar %}
            <img src="{{profile.avatar.url}}" class="avatar-big rounded-circle" width="50px" />
          {% endif %}
          <label for="floatingAvatar">Avatar</label>
          <input type="file" accept="image/png, image/jpg" class="form-control" id="floatingAvatar" placeholder="avatar" name="avatar">
        </div>
    

        <button class="btn btn-primary w-100 py-2" type="submit">Update</button>
      </form>
</div>
{% endblock %}