{% extends 'main/base.html' %}

{% block title %} admin {% endblock%}

{% block content %}
<div class="row">
  <div class="dropdown  pt-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      users
    </button>
    <ul class="dropdown-menu ">
        {% for profile in profiles %} 
          {%if profile.states == '1' %}

          <li><a class="dropdown-item" href="">{{profile.user.username}}</a></li>
          {%endif%}
      {% endfor %}
    </ul>
  </div>

    
        {% for profile in profiles %} 
          {%if profile.states == '2' %}
          <div class="row pt-5">
            
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{profile.user.username}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        </div>
          {%endif%}
      {% endfor %}
    
  </div>
</div>



{% endblock%}