{% extends 'main/base.html' %}

{% block title %} admin {% endblock%}

{% block content %}
<div class="container">
<div class="logoo-section">
  <i class="fas fa-gamepad"></i>
  <h1>USERS</h1>
  </div>
<div class="row align-items-center justify-content">
  <div class=" dropdown py-5">
    <button class="col-11 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      users
    </button>
    <ul class="col-6 dropdown-menu align-items-center ">
        {% for profile in profiles %} 
          {%if profile.states == '1' %}

          <li><a class="col-12 dropdown-item" href="{% url 'accounts:profile_page' profile.user.id %}">{{profile.user.username}}</a></li>
          {%endif%}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="logoo-section">
  <i class="fas fa-gamepad"></i>
  <h1>COMPNAY</h1>
  </div>

    
        {% for profile in profiles %} 
          {%if profile.states == '2' %}
          <div class="row pt-5">
            
          <div class="card cardbg" style="width: 18rem;">
            <img src="{{profile.avatar.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="m-2 card-title text-light">{{profile.user.username}}</h5>
              <p class="m-2 card-text text-light">{{profile.bio}}</p>
              <form action="{% url 'accounts:user_admin_view' %}"  method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %} 
                <div class="row">
                  
                <input type="hidden" value="{{profile.user.id}}" name="profile_id" >
              <select class=" m-1 form-select" name="status">                
                <option value="non_active">non active</option>
                
                <option value="active">active</option>

              </select>
                </div>
              <input type="submit" value="change status" class="m-1">
          </form>
              <a href="{% url 'accounts:profile_page' profile.user.id %}" class="control-form m-1 btn btn-primary">Company details</a>
            </div>
          </div>
        </div>
        
          {%endif%}
      {% endfor %}
      </div>
    




{% endblock%}